.topBarContainer {
    background-color: #d9f293;

    >div {
        >p {
            font-family: Roboto Condensed;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: #000000;
            padding-block: 0.5rem;

            >span {
                font-weight: 400;
                padding-inline-start: 1rem;
            }
        }

    }
}