.addToCartContainer {
    position: relative;

    >div {
        position: absolute;
        top: -10px;
        left: 25px;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 100%;
        background-color: white;

        p {
            text-align: center;
            color: black;
            font-size: 0.85rem;
            font-weight: 600;
        }
    }
}