.commonButtonContainer {
    button {
        border: 2px solid white;
        color: white;
        font-weight: 600;
        padding-block: 0.75rem;
        padding-inline: 2.75rem;
        border-radius: unset;

        &:hover {
            background-color: white;
            color: black;
        }
    }
}