.headerContainer {
    padding-inline: 1.75rem;
    display: flex;
    background-color: #111;
    color: white;

    .navLink {
        p {
            padding-inline: 1.25rem;
            padding-block: 1.75rem;
            font-weight: 700;
            font-size: 0.85rem;
            cursor: pointer;
        }

        img {
            height: 3.25rem;
            margin-block: auto;

        }
    }

    .navIcons {
        display: flex;
        padding-inline: 2rem;
        padding-block: 1.75rem;

        svg {
            padding-inline: 0.5rem;
        }
    }
}