.carouselContainer {
    >div[class="alice-carousel"] {
        position: relative;

        >ul[class="alice-carousel__dots"] {
            position: absolute;
            right: 0;
            top: 10rem;
            transform: rotate(90deg);
        }

        >div[class="alice-carousel__prev-btn"] {
            display: none;
        }

        >div[class="alice-carousel__next-btn"] {
            display: none;
        }
    }
}