.bannerContainer {
    padding-inline: 2.75rem;
    background-color: #111;
    color: white;
    padding-block-start: 4.75rem;
    padding-block-end: 9.5rem;

    h2 {
        width: 35%;
    }

    p {
        font-weight: 600;
        font-size: 1.15rem;
        padding-block: 2rem;
    }
}